{% extends 'template_base/base.html' %}



{% block title %}
    用户信息
{% endblock %}



{% block content %}
    {% if request.user.is_superuser is True %}
        <h1 class="text-center mt-4">用户信息表</h1>
        <div class="m-5">
            <table class="table table-bordered text-center bg-white-95">
                <tr style="font-weight: bold">
                    <td>ID</td>
                    <td>用户</td>
                    <td>邮箱</td>
                    <td>地址</td>
                    <td>联系方式</td>
                    <td>注册日期</td>
                    <td>管理员</td>
                    <td>操作</td>
                    <td>高级操作</td>
                </tr>
                {% for user in info %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.province }} {{ user.city }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.date_joined|date:'Y-m-d' }}</td>
                        <td>{% if user.is_superuser is True %}
                            是
                        {% else %}
                            否
                        {% endif %} </td>
                        <td>
                            {% if user.is_superuser and  request.user.username == user.username %}
                                <button class="btn btn-info disabled">您无法操作自己的账户</button>
                            {% elif user.is_superuser %}
                                <button class="btn btn-primary disabled">您无法操作其他管理员</button>
                            {% else %}
                                {% if user.is_active == 1 %}
                                    <a href="{% url 'disable_account' %}?disable_id={{ user.id }}"><button class="btn btn-danger">禁用账户</button></a>
                                    <button class="btn btn-success disabled">解除禁用</button>
                                {% else %}
                                    <button class="btn btn-danger disabled">禁用账户</button>
                                    <a href="{% url 'able_account' %}?able_id={{ user.id }}"><button class="btn btn-success">解除禁用</button></a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{% if user.is_superuser %}
                                <button class="btn btn-warning disabled">已经成为管理员</button>
                            {% else %}
                                <a href="{% url 'super_account' %}?super_id={{ user.id }}"><button class="btn btn-primary">提升为管理员</button></a>
                        {% endif %} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="alert alert-danger text-center m-5" role="alert">
            <h2>你没有资格查看</h2>
        </div>
    {% endif %}

{% endblock %}