{% extends 'template_base/base.html' %}



{% block title %}
    联系我们
{% endblock %}



{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    当前位置：
                    <li class="breadcrumb-item active" aria-current="page">联系我们</li>
                </ol>
            </nav>
            <h2 class="font-italic">致用户</h2>
            <p>亲爱的用户：<br>
            你好<br>
            我们是不挂的开发团队<br>
            不挂致力于为高校大学生提供一个友好合作、互相学习的平台<br>
            很高兴你来到不挂，成为这个大家庭的一份子<br>
            不挂目前还很稚嫩，但它会陪伴你一直成长<br>
            我们深知自身水平的不足，因此需要你的智慧来帮助我们<br>
            我们希望得到你的帮助<br>
            也希望得到你的批评<br>
            我们携手努力<br>
                一起来建立一个优质的社交学习平台<br>
            相信有那么一天<br>
            或者说，相信每一天<br>
            你已成为自己想成为的样子<br>
            不挂也和你一起，成为了它想成为的样子<br>
            也有幸成为了你的见证者和旅伴<br><br>
            如果你对不挂有什么想法、点子和建议<br>
            抑或是不满、吐槽和批评<br>
            我们都希望你一吐为快<br>
            我们定会洗耳恭听，深思熟虑，不断进步<br>
            你可以这样联系我们：<br>
            不挂的官方QQ为：188711361<br>
            不挂的官方微信为：L14703558104<br>
            除此之外，我们团队成员的个人联系方式如下：<br>
            荀找，QQ：2205450485，微信：L13403558104<br>
            Happy，QQ：1756607826，微信：xz19959053460<br>
            bin，QQ：2649438875，微信：a15270548672<br>
            Feng，QQ：2045993723，微信：m15117120055<br>
            WEI，QQ：1797294594，微信：a1797294594<br>
            无名，QQ：484078311，微信：gxjlfl4840783111-<br>
            哲，QQ:572764149，微信：wxid_itmvfpwnp1do22<br>
            </p>
            <hr>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}